.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(183, 212, 76);
    align-items: center;
    color: white;
}

ul{
    display: flex;
}

ul li{
    margin-right: 20px;
}

.hero-section{
    text-align: center;
}

img{
    box-sizing: border-box;
    width: 700px;
    height: 500px;
}